<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5XOoKl_oqCikdysRTYjatoSbG7V1Nzwg</string>
	<key>GCM_SENDER_ID</key>
	<string>247110518106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insight</string>
	<key>PROJECT_ID</key>
	<string>insightt-e77ee</string>
	<key>STORAGE_BUCKET</key>
	<string>insightt-e77ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247110518106:ios:737e351d5029cc9cf55f63</string>
	<key>DATABASE_URL</key>
	<string>https://insightt-e77ee-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>